# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
.bower_components/

# Environment Variables
.env

# Build directories
build/
dist/
out/

# IDE and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
